#alias h   {hide}
#alias hs  {hide;status}

#alias sh  {sneak;hide}
#alias shs {sneak;hide;status}

#alias b   {backstab}

#alias en  {escape north}
#alias es  {escape south}
#alias ee  {escape east}
#alias ew  {escape west}
#alias ed  {escape down}
#alias eu  {escape up}

#alias fillsoup { #loop 0 2 i { #showme { fill $i.cup pot } } }
