#split

#session toril torilmud.org 9999
#event {SESSION DEACTIVATED} {#end}

#script {PATH} {echo "$${HOME}/.torilmud"}
#variable {PATH} {$PATH[1]}

#alias reload {#read $PATH/main.tt}

#read {$PATH/alias.tt}
#read {$PATH/action.tt}

#read {$PATH/rogue.tt}
